.header {
  background: pink;
  text-align: center;
  border: dashed 2px red;
}
.main-blok {
  background: grey;
  border: dashed 1px black;
}

.main-blok__paragraph{
  font-weight: bold;
}

.side-blok{
  background: grey;
  border: dashed 1px black;
  font-style: italic;
}

.secondary-blok{
  background: grey;
  border: dashed 1px red;
}

.footer{
  background: lightgreen;
  border: dashed 2px green;
  text-align: center;
}

/* aside{
  background: grey;
  border: dashed 1px #000;
}
article {
  border: dashed 1px red;
}
footer {
  background: lightgreen;
}*/
